<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	{{$name := .}}
	{{$age := 21}}
	<p>Hello,{{$name}}!</p>
	<p>You are {{$age}} years old.</p>
</body>
</html>