<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<!-- весь map, как есть-->
	<p>{{.}}</p>
	<!-- отдельный элемент map-->
	<p>{{index . "Japan"}}</p>
	<!-- отдельный элемент map-->
	<p>{{.China}}</p>
	<!-- итерируемся по значениям map-->
	<ul>
		{{range .}}
		<li>{{.}}</li>
		{{end}}
	</ul>
	<!-- итерируемся по индексам и значениям map-->
	<ul>
		{{range $k,$v := .}}
		<li>{{$k}}-{{$v}}</li>
		{{end}}
	</ul>
</body>

</html>